*{
    font-family: 'B612 Mono', monospace;
}

:root{
    --main-color: ;
    --secondary-color: ;


}
.sfondo{
    background: rgb(255, 251, 251) !important;
    color: grey;
}
.posizione_logo{
    text-align: center;
    height: 90px;
    width: auto;
    
}
.navbar{
    margin: 0;
    padding: 0;
}

.sfondo_titolo{
    background-image: url('switzerland-862870_1920.jpg');

    height:100vh;
    width: auto;
    background:linear-gradient(0deg, rgba(2,0,36,0) 0%, rgba(255,255,255,1) 99%), url('switzerland-862870_1920.jpg');
 
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}

.sfondo_grigio{
    background-color: rgba(236,236,236,255)
    ;
}

 .testo1{
    font-size:500%;

 }


 .testo{
    font-size:500%;
    color: darkred;
    letter-spacing: 50px;
 }

.row{
    --bs-gutter-x: 0rem ;
}

.dim{
    height: 150vh;
}

h1{
    background-color: rgba(167, 79, 79, 0);
    margin: 0;
    padding: 0;

}

.ferma{
    width: 100%;
    height: auto;
 
   
}


/* TENERE FERMO IN BASSO A SINISTRA LO STICKER */
.div-wrapper {
    position: relative;
}
.div-wrapper img {
    position: absolute;
    left: 0;
    bottom: 0;
    
}

.icone{
    font-size: 200%;
    color: darkred;
}

.linear-circle {   
    position: relative;     
    border-bottom: 5px solid darkred; } 
    
    
    
    
    
    .linear-circle::before {
        content: "";
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: #ffffff;
        border: 3px solid darkred;
        position: absolute; 
        margin-top: 3px; 
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    
    .allinearedx{
        text-align: end;
        padding-right: 5px;
        
    }
    
    
    .allinearesx{
        text-align: start;
        padding-left: 5px;
    }
    .btn{
    background: darkred;
    border-color: darkred;
}

.trees-bg{
    background-image: url("trees2.png");
    background-size: cover;
    width: 100%;
    height: 70vh;
    background-position-y: bottom;
    background-repeat: no-repeat;
    
    
}

.conteiner-fluid{
    padding: 0;
    margin:0;
}



.timeline {
    border-left: 3px solid darkred;
    letter-spacing: 0.2px;
    position: relative;
    line-height: 1.4em;
    font-size: 1.03em;
    padding: 50px;
    list-style: none;
    text-align: left;
    max-width: 60%;
}

@media (max-width: 767px) {
    .timeline {
        max-width: 98%;
        padding: 25px;
    }
}



.timeline .event {
    
    padding-bottom: 25px;
    margin-bottom: 25px;
    position: relative;
}

@media (max-width: 767px) {
    .timeline .event {
        padding-top: 30px;
    }
}



.timeline .event:before,
.timeline .event:after {
    position: absolute;
    display: flex;
    top: 0;
}


.timeline .event:after {
    -webkit-box-shadow: 0 0 0 3px darkred;
    box-shadow: 0 0 0 3px darkred;
    left: -58px;
    background: #fff;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    content: "";
    top: 5px;
}

@media (max-width: 767px) {
    .timeline .event:after {
        left: -31.8px;
    }
}

.rtl .timeline {
    border-left: 0;
    text-align: right;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-right: 3px solid #727cf5;
}

.rtl .timeline .event::before {
    left: 0;
    right: -170px;
}

.rtl .timeline .event::after {
    left: 0;
    right: -55.8px;
}


.ferma1{
    position: absolute;
    left:100%;
    bottom: -17px;
    height: 50ch;
}


.rosso{
    color: darkred;
}



.rotondo{
    margin-right: 5px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 4px solid black;
    padding: .5em;
    border-color: darkred;

}
.bianco{
    color: white;
}

.sfondo_rosso{
    background-color: darkred;
}

.spazio_alto{
    padding-top:5% ;
}

.spazio_lato{
    padding-left: 10%;

}